extends ../../_layouts/base

block vars
  - var baseUrl = '../../'
  - var pageData = site.data.projects.detailed.morsel
  - var bodyClass = 'project-page project-'+ pageData.class


block header
  header.main-nav.resume-nav: nav: .container
    ul
      li #[+link({text: 'Back'})(href='/#examples')]

block content
  .intro-image
    img(src=pageData.header_image)
  section
    .container.light-scheme
      h1= pageData.title
    .container-sm.light-scheme
      .badges
        each b in pageData.badges
          .badge= b
      .copy-wrapper
        each c in pageData.intro_copy
          p= c
  .device-background
    .device
      .screen(style='background-image:url(#{pageData.single_page.image})')
      img(src=pageData.single_page.image)
    .device-text
      h4= pageData.single_page.title
      each c in pageData.single_page.copy
        p= c
  section
    .container-sm.light-scheme
      .copy
        p= pageData.workflow.copy
  .container.wide-image
    img(src=pageData.workflow.image)
  section
    .container-sm.light-scheme
      .copy
        p= pageData.users.copy
  .container.wide-image
    img(src=pageData.users.image)
  section
    .container-sm.light-scheme
      .copy
        each c in pageData.final.copy
          p !{c}
  .container.wide-image
    img(src=pageData.final.image)