extends ../_layouts/base

block vars
  - var baseUrl = '../'
  - var bodyClass = 'resume-page';

block header
  header.main-nav.resume-nav: nav: .container
    ul
      li #[+link({text: 'Back'})(href='/#resume')]
      li #[+link({text: 'Download'})(href='../'+config.directories.downloads+'/'+config.downloads.resume, target='_blank')]
      li #[+link({text: 'Print'})(href='#', id='resume-print')]

block content
  .container-sm.light-scheme
    header
      section
        div
          h1= site.data.resume.header.name
          h2= site.data.resume.header.tagline
          if site.data.resume.header.availability.status
            p= site.data.resume.header.availability.copy
        div
          +link({text: site.data.resume.header.site.name})(href=site.data.resume.header.site.link, target='_blank')
          +link({text: site.data.resume.header.email.name})(href=site.data.resume.header.email.link)
          p!= site.data.resume.header.location
      section
        h3.lead= site.data.resume.header.blurb
    each s in site.data.resume.sections
      section(id=s.id ? s.id : '')
        h3= s.title
        if s.subtitle
          h5= s.subtitle
        if (typeof(s.description) === 'object')
          ul(class=s.columns ? 'columns' : '')
            if (Array.isArray(s.description))
              each d in s.description
                li
                  p= d
            else
              each v, k in s.description
                li
                  h5= `${k}:`
                  = v
        else
          p= s.description
        if s.jobs
          each j in s.jobs
            ul: li
              p #{j.jobtitle}!{j.company ? ' - ' + (j.company.link ? '<a href=\"'+j.company.link+'\" target=\"_blank\">'+j.company.name+'</a>' : '<span>' + j.company.name + '</span>') : ''}. #{j.dates}. !{j.description}


