mixin metadata(spec)
  -
    spec = spec || site.data.metadata.defaults

  title= spec.title
  each val, key in spec
    if typeof val === 'object'
      each v, k in val
        meta(name=key+':'+k, content=v)
    else
      meta(name=key, content=val)
