extends ../../_layouts/base

block vars
  - var baseUrl = '../../'
  - var pageData = site.data.projects.list.find(p => p.id === 'fillup')
  - var bodyClass = 'project-page project-'+ pageData.class

include ../../_modules/project-header/project-header

block header
  +project-header(pageData)

block content
  .intro-image
    .intro-image-wrap
      img(src=pageData.header_image)
  section
    .container.light-scheme
      h1= pageData.title
      .badges
        each b in pageData.badges
          .badge= b
      .copy-wrapper
        each c in pageData.intro_copy
          p !{c}
  section
    .container.light-scheme
      .copy.copy-full
        h5.h5= pageData.inspiration.title
        each c in pageData.inspiration.copy
          p !{c}
  section
    .container.light-scheme
      .copy.copy-full
        h5.h5= pageData.process.title
        each c in pageData.process.copy
          p= c
        table
          tr
            th Requirement
            th Constraint
          each tr in pageData.process.table
            tr
              td !{tr.requirement}
              td !{tr.constraint}
  .container.wide-image
    img(src=pageData.inspiration.image)
  section
    .container.light-scheme
      .copy.copy-full
        each c in pageData.process.copy2
          p !{c}
  .side-content
    .container
      .image-wrapper
        img(src=pageData.process.image)
      .side-content-copy
        each c in pageData.process.copy3
          p !{c}
  section
    .container.aside-container.light-scheme
      .copy
        each c in pageData.process.copy4
          p= c
      aside
        h5.h5= pageData.design_principles.title
        p= pageData.design_principles.copy
        ul.project-list
          each li in pageData.design_principles.list
            li !{li}
  section
    .container.light-scheme
      .copy.copy-full
        h5.h5= pageData.feedback.title
        each c in pageData.feedback.copy
          p !{c}
        table
          tr
            th Feedback
            th Reaction
          each tr in pageData.feedback.table
            tr
              td !{tr.feedback}
              td !{tr.reaction}
        p.note= pageData.feedback.note
  .container
    .image-wrapper
      .fillup-logo
        !{pageData.logo_branding.image}
  section
    .container.light-scheme
      .copy.copy-full
        h5.h5= pageData.logo_branding.title
        ul.project-list
          each li in pageData.logo_branding.list
            li !{li}
  section
    .container.light-scheme
      .copy.copy-full
        h5.h5= pageData.implementation.title
        each c in pageData.implementation.copy
          p= c
  .device-background
    .device
      .screen(style='background-image:url(#{pageData.tech.image})')
      img(src=pageData.tech.image)
    .device-text
      h4= pageData.tech.title
      each c in pageData.tech.copy
        p !{c}