extends ../../_layouts/base

block vars
  - var baseUrl = '../../'
  - var pageData = site.data.projects.detailed.tastingcollective
  - var bodyClass = 'project-page project-'+ pageData.class

include ../../_modules/project-header/project-header

block header
  +project-header({
    prev: pageData.prev_project,
    next: pageData.next_project
  })

block content
  .intro-image
    .intro-image-wrap
      img(src=pageData.header_image)
  section
    .container-sm.light-scheme
      h1= pageData.title
      .badges
        each b in pageData.badges
          .badge= b
      .copy-wrapper
        each c in pageData.intro_copy
          p= c
  .container.wide-image
    img(src=pageData.stack.image)
  section
    .container-sm.light-scheme
      .copy
        p= pageData.stack.copy
  .device-background
    .device
      .screen(style='background-image:url(#{pageData.single_page.image})')
      img(src=pageData.single_page.image)
    .device-text
      h4= pageData.single_page.title
      each c in pageData.single_page.copy
        p= c
  section
    .container-sm.light-scheme
      .copy
        p !{pageData.event_detail.copy}
  .container.wide-image
    img(src=pageData.event_detail.image)
  section
    .container-sm.light-scheme
      .copy
        each c in pageData.final.copy
          p !{c}
  .container.wide-image
    img(src=pageData.final.image)