block vars
  - var bodyClass = 'homepage';

extends _layouts/base

include _modules/card/card
include _modules/popover/popover


block content
  section#welcome.welcome.container
    .welcome-blurb
      h1 Hi, my name is #[span Chris Zamierowski]
      h2.things-i-am
        span I'm a&nbsp;
        ul
          li developer
          li designer
          li thinker
          li carnivore
  section#expertise.expertise.container
    h2 Expertise
    .t-bone-shaped-skills
      img(src='/images/graphics/t-bone.svg')
      each p in site.data.expertise.popovers
        +popover(p)
  section#examples.examples.container
    h2 Examples
    .cards
      each c in site.data.projects.summaries 
        +card(c)
  section#resume.resume.container-sm
    h2= site.data.resume.summary.title
    h5= site.data.resume.summary.blurb
    p= site.data.resume.summary.blurb_tools
    ul
      each t in site.data.resume.summary.tools
        li
          +link({text: t.name})(href = t.link, target = '_blank')
            i(class='sprite sprite-#{t.class}')
    p !{site.data.resume.summary.more}