mixin card(spec)
  - spec = spec || {}

  a.card(href='#{spec.url}')
    .card-image
      img(src='#{spec.image}', alt='#{spec.name}')
    .card-header= spec.name
    .card-copy
      p= spec.description